<h2>Forum di inserimento</h2>
  <br>
  <div class="divForum">
    <div>
        Nome:<input type="text"> 
    </div>
      <br>
      <br>
    <div>
        Cognome: <input type="text"> 
    </div>
      <br>
      <br>
      <div>
        Indirizzo: <input type="text"> 
      </div>
    <br>
    <br>
    <div>
        Telefono:<input type="text"> 
    </div>
    <br>
    <br>
    <div>
        Email: <input type="text"> 
    </div>
    <br>
    <br>
    <div>
        Data Prenotazione: <input type="text"> 
    </div>
    <br>
    <br>
    <div>
        Ora Prenotazione: <input type="text"> 
    </div>
    <br>
    <br>
  </div>

  <br>
  <br>


<div class="divButton">
  <button (click) = "salva( nome.value, cognome.value, telefono.value, email.value, indirizzo.value, data_prenotazione.value, ora_prenotazione.value)"> Salva </button>
</div>

<div>

</div>